@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
@import "tailwindcss";
@source "../index.html";
@source "./src/**/*.{js,ts,jsx,tsx}";

:root {
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
  color: #0f172a;
  background-color: #f8fafc;
}

body {
  margin: 0;
  background-color: #f8fafc;
}